<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-logo link" href="./index.html">
        <span class="header-logo__text">Filmoteka</span>
      </a>

      <ul class="header-nav__menu list">
        <li class="header-nav__item">
          <a class="link link--current" href="./index.html">HOME</a>
        </li>

        <li class="header-nav__item">
          <a class="link" id="logIn" href="./myLibrary.html">My Library</a>
        </li>

        <li class="header-nav__item">
          <a class="link" id="logOut" href="./myLibrary.html">Log out</a>
        </li>
      </ul>
    </nav>

    <ul>
      <li><button>Watched</button></li>
      <li><button>queue</button></li>
    </ul>
  </div>
</header>
